<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.custom.ab.dao.SysUserDao">
  <resultMap id="BaseResultMap" type="com.custom.ab.model.SysUser">
    <id column="UID" jdbcType="INTEGER" property="uid" />
    <result column="USERNAME" jdbcType="VARCHAR" property="username" />
    <result column="PASSWD" jdbcType="VARCHAR" property="passwd" />
    <result column="EMAIL" jdbcType="VARCHAR" property="email" />
    <result column="TRUENAME" jdbcType="VARCHAR" property="truename" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
  </resultMap>
  <sql id="Base_Column_List">
    UID, USERNAME, PASSWD, EMAIL, TRUENAME, MOBILE
  </sql>
  <select id="login" parameterType="com.custom.ab.model.SysUser" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where USERNAME = #{username,jdbcType=VARCHAR}
    and PASSWD = #{passwd,jdbcType=VARCHAR}
  </select>
  <select id="searchByUid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_user
    where UID = #{uid,jdbcType=INTEGER}
  </select>
  <delete id="deleteUser" parameterType="com.custom.ab.model.SysUser">
    delete from sys_user
    where UID = #{uid,jdbcType=INTEGER}
  </delete>
  <insert id="addSysUser" parameterType="com.custom.ab.model.SysUser">
    insert into sys_user (USERNAME, PASSWD, EMAIL, TRUENAME, MOBILE)
    values ( #{username,jdbcType=VARCHAR}, #{passwd,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{truename,jdbcType=VARCHAR},
      #{mobile,jdbcType=VARCHAR})
  </insert>
  <insert id="addSelective" parameterType="com.custom.ab.model.SysUser">
    insert into sys_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        UID,
      </if>
      <if test="username != null">
        USERNAME,
      </if>
      <if test="passwd != null">
        PASSWD,
      </if>
      <if test="email != null">
        EMAIL,
      </if>
      <if test="truename != null">
        TRUENAME,
      </if>
      <if test="mobile != null">
        MOBILE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="passwd != null">
        #{passwd,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="truename != null">
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
</mapper>